* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
}

input[type="search"] {
  padding: 10px;
  width: 80%;
}

main {
  padding: 20px;
}

.hero {
  color: #111111;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
}

.hero h1 {
  font-size: 24pt;
}

.hero p {
  font-size: 12pt;
  font-style: italic;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-right: 100px;
  padding-left: 100px;
}

.feature {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: darkolivegreen;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #f0f0f0;
  position: relative;
}